<h4>Eviction Notices</h4>

<table>
  <thead>
    <tr>
        <th>eviction_id</th>
        <th>address</th>
        <th>city</th>
        <th>state</th>
        <th>file_date</th>
    </tr>
  </thead>
  <tbody>
    <% @evictions.each do |eviction| %>
      <tr>
        <td><%= eviction.eviction_id %></td>
        <td><%= eviction.address %></td>
        <td><%= eviction.city %></td>
        <td><%= eviction.state %></td>
        <td><%= eviction.file_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
