<h4>Eviction Notices</h4>

<h5>Query</h5>
<%= form_tag('/eviction_notices/run_query', method: :post) do %>
  <%= text_area_tag :query, @query.query %>
  <%= submit_tag "Run query" %>
  <%= submit_tag "Save query", formaction: queries_path(@query) %>
<% end %>

<%= render partial: 'eviction_notices/eviction_notices', locals: { evictions: @evictions} %>
