<h4>Queries</h4>

<%= render partial: 'new_query', locals: { new_query: Query.new } %>

<table>
  <thead>
    <tr>
        <th>id</th>
        <th>query</th>
        <th>created_at</th>
        <th>updated_at</th>
    </tr>
  </thead>
  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <td><%= query.id %></td>
        <td><%= query.query %></td>
        <td><%= query.created_at %></td>
        <td><%= query.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
